<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053834422006-2h6hsr49qmat219e5vsjqcfg1p78gudq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053834422006-2h6hsr49qmat219e5vsjqcfg1p78gudq</string>
	<key>API_KEY</key>
	<string>AIzaSyBSValVrd_SqZeRDYDT42YtLyX7InpoPtY</string>
	<key>GCM_SENDER_ID</key>
	<string>1053834422006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.mikeschoonen.doyourtasks</string>
	<key>PROJECT_ID</key>
	<string>doyourtasks-994d5</string>
	<key>STORAGE_BUCKET</key>
	<string>doyourtasks-994d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053834422006:ios:4dfee4c64d226925f8eed7</string>
	<key>DATABASE_URL</key>
	<string>https://doyourtasks-994d5.firebaseio.com</string>
</dict>
</plist>